* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --verdeEscuro:#005f6b;
    --branco: #d8e9ea; 
    --preto: #000;
    --cinzaClaro:#4d585a;
    --cinza:#686969;

    --font1:'Roboto', sans-serif;
}
/* Configurando o header */

nav{

    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;

}
.contato a{
    text-decoration: none;
    color: var(--cinzaClaro);
    font-size: large;
}

.botao{
    display: flex; 
    justify-content: center;
    align-items: end;
    margin-top: -20px;
    
}

.botao a{
    margin-right: 15px;
    text-decoration: none;
    color: var(--cinzaClaro);
}


/* Configurando a imagem */

.img_fotoPerfil img{
    height: 500px;
    width: 500px;
 
}

body{
    background-color: #fff;
    color: var(--preto);
    font-family: var(--font1);
}

section{
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
    
}
.textoIntro{
    margin-top: 150px;
}
h1{
    font-family: var(--font1); 
    font-size: 100px;
    text-transform: uppercase;
    color: var(--cinzaClaro);
    
}

.textoIntro p{
    font-size: 25px;
}

/* Página Projetos */

h3{
    text-align: center;
}

.copiladoProjeto{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
   
}

.img_projeto{
    margin-left: 15px;
    margin-top: 15px;
}


.img_projeto img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
.vsConnect{
    background-color: purple;
}